<html>
  <head>
    <style>
      table{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
      }
      td{
        background-color: #f9f9f9;
        white-space: nowrap;
        border: 1px solid #ddd;
        padding: 8px;
        line-height: 1.428571429;
        vertical-align: top;
      }
    </style>

  </head>
  <body>
    <%= yield %>
  </body>
</html>
